#toadGame {
  display: flex;
  justify-content: center;
}
#floatBoxContainer {
  /* visibility: hidden; */
  display: flex;
  aspect-ratio: 5/7;
  height: auto;
  width: 70vw;
  max-width: 350px;
  border-radius: 10px;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#floatBox {
  height: 95%;
  width: 95%;
  border-radius: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float {
  position: relative;
  animation: MoveUpDown 3s ease-in-out infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(-10%);
  }
}
.toadImg {
  /* display: none; */
  width: auto;
  height: 100%;
  /* -webkit-filter: drop-shadow(5px 5px #222); */
  /* filter: drop-shadow(100px 10px 10px rgba(42, 25, 51, 0.173)); */
}

#toadDivWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: spin 2.3s ease-in-out infinite;
}

@keyframes spin {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

#toadDivWrapper:hover {
  cursor: pointer;
}

#shadow {
  position: absolute;
  border-radius: 50%;
  bottom: 6%;
  height: 8%;
  width: 75%;
  background-color: var(--prColor);
  animation: disolve 3s ease-in-out infinite;
}

@keyframes disolve {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.7);
    background: radial-gradient(
      ellipse at center,
      var(--prColor) 60%,
      rgba(0, 212, 255, 0) 70%
    );
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
    background: radial-gradient(
      ellipse at center,
      var(--prColor) 60%,
      rgba(0, 212, 255, 0) 70%
    );
  }
}
